// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColor: "near-black" ;
$sidebarBgColor: "dark-green" ;
$textColor: "near-white" ;
$sidebarTextColor: "near-white" ;
$headlineColor: "light-blue" ;
$headingColor: "near-white" ;
$bodyLinkColor: "blue" ;
$navLinkColor: "near-white" ;
$sidebarLinkColor: "light-silver" ;
$footerTextColor: "silver" ;
$buttonTextColor: "near-white" ;
$buttonBgColor: "black" ;
$buttonHoverTextColor: "white" ;
$buttonHoverBgColor: "blue" ;
$borderColor: "moon-gray" ;
